<h3>Przesyłka o numerze {{ code }} została zarejestrwowana w systemie.</h3>
<div>Paczka nadana przez {{ sender_name }} wkrótce wyruszy w dalszą drogę, prosto do rąk {{ recipient_name }}.</div>
<div>Aktualny status i miejsce, w którym znaduje się paczka możesz sprawdzić klikając <a href="{{ code_link }}">ten link</a></div>