html, body{
	box-sizing: border-box;
	cursor: default;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: .04133em;
	font-family: Roboto,sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	background-color: #fff;
	color:#242424;
	margin:0;
}

a, a:visited, a:hover, a:link{
	text-decoration: none;
	color: inherit;
}

input[type="text"], input[type="number"], input[type="email"]
{
	width:100%;
	border: 0;
	border-bottom: 1px solid #242424;
	outline: 0;
	text-align: center;
	font-size: 18px;
}

.alert-danger-header{
	font-size: 21px;
	color: #e5001c;
}

.alert-danger{
	color: #e5001c;
}

#nav{
	display: flex;
	margin-top: 0;
	padding:0 50px;
	background-color: #242424;
	height: 60px;
	align-items: center;
}

#nav > span{
	display: flex;
	color:#fff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.nav-left{
	margin-right: auto;
}

.nav-center{
	display: flex;
	justify-content: center;
	margin:0 auto;
}

.nav-center > span{
	margin: 0px 90px;
	align-self: center;
}

@media (max-width: 1200px) {
	.nav-center > span{
		margin: 0px 40px;
	}
}

@media (max-width: 992px) {
	#nav{
		padding:0 25px;
	}

	.nav-center > span{
		margin: 0px 25px;
	}
}

@media (max-width: 768px) {
	body{
		font-size: 13px;
	}

	#nav{
		padding:0 5px;
	}

	.nav-center > span{
		margin: 0px 15px;
		font-size: 13px;
	}
}


#page-container{
	width:100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.text-center{
	text-align: center;
}

.container-header{
	font-size:30px;
	margin:20px 0px;
}

.flash-messages{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.flash-messages > div{
	height: 40px;
	width: 100%;
	text-align: center;
	font-size: 13px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
}

.flash-messages > .error{
	color: #fff;
	background-color: #e5001c;
}

/* HOME */
.home-wrapper{
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 60%;
}

.home-header{
	background-color: #242424;
	color: #fff;
	padding: 20px 100px 20px 40px;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 20px;
	display: inline-table;
	margin-top: 2px;
}

@media (max-width: 768px){
	.home-header{
		font-size: 15px;
		padding: 10px 50px 10px 20px;
	}
}


@media (max-width: 576px) {
	.home-header{
		font-size: 13px;
	}
}

.home-header-try-a{
	margin-left: auto;
	margin-top: 50px;
}

.home-header-try-a:hover > div{
	background-color: #242424;
}

.home-header-try{
	font-weight: 700;
	background-color: #e5001c;
}

.form-wrapper{
	display: flex;
	align-self: center;
	flex-direction: column;
	margin-left: 15%;
	margin-right: 15%;
	min-width: 600px;
}

@media (max-width: 768px) {
	.form-wrapper{
		min-width: 400px;
	}
}

@media (max-width: 576px) {
	.form-wrapper{
		min-width: 300px;
	}
}

.form-wrapper > form > div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

.send-form-text{
	display: flex;
	width: 35%;
}

.send-form{
	display: flex;
	width: 55%;
}

.send-form-button-wrapper{
	margin-left: auto;
	margin-right: 0;
	/*margin-left: 55%;*/
	width: 200px;
	margin-top: 30px;
}

@media (max-width: 576px) {
	.send-form-button-wrapper{
		width: 150px;
	}
}

.send-form-button-wrapper > .submit-button{
	width: 100%;
}

.submit-button{
	display: inline-block;
	padding: .875rem 1.625rem .8125rem;
	cursor: pointer;
	font-size: .6875rem;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	position: relative;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	background-color: #e5001c;
}


/*CONTACT */
.contact-wrapper{
	display: flex;
	width: 80%;
	margin:auto;
	justify-content: space-around;
	flex-direction: row;
}

.contact-box{
	display: flex;
	width: 450px;
	height: 500px;
	margin:20px;
	background-color: #242424;
	padding: 50px;
	flex-direction: column;
}

.contact-img-container{
	display: flex;
	margin:0 auto;
	margin-top: 25px;
	width: 175px;
	min-width: 175px;
	height: 175px;
	min-height: 175px;
}

.contact-img{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border-color: #fff;
	color:#000;
	background-color: #fff;
}

.contact-info{
	display: flex;
	color:#fff;
	margin:50px auto;
	flex-direction: column;
}

.contact-name{
	font-size: 18px;
	font-weight: 600;
}

.contact-testimontials, .contact-technologies{
	margin: 25px 0px 5px 20px;
}

@media (max-width: 1400px) {
	.contact-box{
		display: flex;
		width: 400px;
		padding: 25px;
	}
}

@media (max-width: 900px) {
	.contact-wrapper{
		width: auto;
		flex-direction: column;
	}
	
	.contact-box{
		display: flex;
		width: 300px;
		height: 400px;
	}

	.contact-img-container{
		margin-top: 15px;
		width: 120px;
		min-width: 120px;
		height: 120px;
		min-height: 120px;
	}

	.contact-info{
		margin:10px auto;
	}
}

@media (max-width: 768px) {
	.contact-box{
		width: 265px;
	}
}

@media (max-width: 576px) {
	.contact-box{
		width: 230px;
	}
}

/*CHECK STATUS*/
.check-wrapper{
	width: 45%;
	margin:auto;
}

.check-search{
	display: flex;
	margin:0;
	width:100%;
	margin-top: 50px;
}

.check-button-wrapper{
	width: 100%;
}

.check-button-wrapper > .submit-button{
	width: 100%;
}

@media (max-width: 768px) {
	.check-wrapper{
		width: 70%;
	}
}

/* TRACK SHIPPING */
#map{
	width: 100%;
	height: 500px;
	position: relative;
}

@media (max-width: 768px) {
	#map{
		height: 350px;
	}
}


.track-status-container{
	display: flex;
	margin:0 auto;
	margin-top: 20px;
	flex-direction: row;
	flex-flow: wrap;
}

.track-status-wrapper{
	display: flex;
	justify-content: center;
}

.check-status-box{
	display: flex;
	height: 150px;
	width: 250px;
	background-color: #242424;
	color: #fff;
	justify-content: center;
	align-content: flex-start;
	margin:25px;
	flex-direction: column;
	padding: 20px;
}

.check-status-box-info{
	background-color: #fff;
	color:  #242424;;
	font-size:30px;
	word-spacing: 100%;
}

.check-status-info{
	margin:auto 0;
}

.check-status-name{
	font-weight: 800;
	margin-bottom: 10px;
}

.check-status-date{
	margin-left: auto;
	font-size: 14px;
}

.check-status-description{
	margin-left: 10%;
	text-align: center;
}

@media (max-width: 992px) {
	.track-status-container{
		justify-content: left;
	}

	.check-status-box{
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

@media (max-width: 768px) {
	.check-status-box{
		height: 125px;
		width: 225px;
		margin:15px;
		padding: 10px;
	}
}

/*SENT*/
.sent-wrapper{
	display: flex;
	flex-direction: column;
	margin:auto;
}

.sent-code{
	background-color: #e5001c;
	color: #fff;
}