{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
		<div id="page-container">
			<div id="nav">
				<span class="nav-left"><a href="{% url 'views-shippings:home' %}"><div>home</div></a></span>
				<span class="nav-center">
					<span><a href="{% url 'views-shippings:send-shipping' %}"><div>Send shipping</div></a></span>
					<span><a href="{% url 'views-shippings:check-shipping' %}"><div>Check shipping</div></a></span>
					<span><a href="{% url 'views-shippings:contact' %}"><div>Contact</div></a></span>
				</span>
			</div>
			{% if messages %}
				<div class="flash-messages">
					{% for message in messages %}
						<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
					{% endfor %}
				</div>
			{% endif %}
			{% block main %}
			{% endblock %}
		</div>

		{% block script %}
		{% endblock %}
</body>
</html>