{% extends "../base.html" %}

{% block main %}
	<div class="flash-messages">
		{% if form.errors %}
		{% for field in form %}
		    {% for error in field.errors %}
		        <div class="error">
		            <div>{{ error|escape }}</div>
		        </div>
		    {% endfor %}
		{% endfor %}
		{% for error in form.non_field_errors %}
		    <div class="error">
		        <div>{{ error|escape }}</div>
		    </div>
		{% endfor %}
		{% endif %}
	</div>
	<div class="check-wrapper">
		<div class="container-header text-center">check your shipping</div>
		<form action="" method="POST">
			{% csrf_token %}
			<input type="text" class="check-search" name="code" id="check-status-input" placeholder="248163264128" required="">
			<div class="check-button-wrapper">
				<button class="submit-button" type="submit" id="check-status-button" name="send">Check</button>
			</div>
		</form>
	</div>
{% endblock %}