{% extends "../base.html" %}


{% block main %}
	<div class="contact-wrapper">
		<div class="contact-box">
			<div class="contact-img-container">
				<div class="contact-img">MG</div>
			</div>
			<div class="contact-info">
				<div class="contact-name">class Michał Grudzień(Student):</div>
				<div class="contact-testimontials">
					<div>project and implementetion of restful service</div>
					<div>design and scripting of frontend layout</div>
				</div>
				<div class="contact-technologies">
					<span>django</span>
					<span>restful</span>
					<span>geopy</span>
					<span>unittests</span>
					<span>openstreetmaps</span>
					<span>css</span>
					<span>html</span>
					<span>rwd</span>
					<span>docker</span>
				</div>
			</div>
		</div>
		<div class="contact-box">
			<div class="contact-img-container">
				<div class="contact-img">MG</div>
			</div>
			<div class="contact-info">
				<div class="contact-name">class Michał Guzy extends Student</div>
				<div>{</div>
				<div class="contact-testimontials">
					<div>project and implementetion of mobile app</div>
				</div>
				<div class="contact-technologies">
					<span>android</span>
					<span>restful</span>
					<span>openstreetmaps</span>
				</div>
				<div>}</div>
			</div>
		</div>
	</div>
{% endblock %}