{% extends "../base.html" %}

{% block main %}
	<div class="home-wrapper">
		<div class="home-header">Your favourite courier service</div>
		<div class="home-header">you haven't try yet</div>
		<a href="{% url 'views-shippings:send-shipping' %}" class="home-header-try-a"><div class="home-header home-header-try">maybe you will send something, hugh?</div></a>
	</div>
{% endblock %}