{% extends "../base.html" %}

{% block main %}
	<div class="sent-wrapper">
		<div class="container-header text-center">Your package has been registered in the system!</div>
		<div class="container-header text-center">You will get confirmation email soon.</div>
		<div class="container-header text-center">Sent shipping code is <span class="sent-code">{{ code }}</span>, it allows to track the shipping status.</div>
		<div class="container-header text-center">We will notify {{ recipient_name }} about the shipping by email.</div>
	</div>
{% endblock %}