{% extends "../base.html" %}


{% block main %}
	<div class="container-header text-center">SEND SHIPPING</div>
	<div class="text-center">
		{% if form.errors %}
			<div class="alert-danger-header text-center">there are some errors, please correct them...</div>
		    {% for field in form %}
		        {% for error in field.errors %}
		            <div class="alert alert-danger">
		                <div>{{ error|escape }}</div>
		            </div>
		        {% endfor %}
		    {% endfor %}
		    {% for error in form.non_field_errors %}
		        <div class="alert alert-danger">
		            <div>{{ error|escape }}</div>
		        </div>
		    {% endfor %}
		{% endif %}
	</div>
	<div class="form-wrapper">
		<form method="POST">
			{% csrf_token %}
			<div><div class="send-form-text">Width (cm)</div><div class="send-form">{{ form.width }}</div></div>
			<div><div class="send-form-text">Height (cm)</div><div class="send-form">{{ form.height }}</div></div>
			<div><div class="send-form-text">Depth (cm)</div><div class="send-form">{{ form.depth }}</div></div>
			<div><div class="send-form-text">Weight (kg)</div><div class="send-form">{{ form.weight }}</div></div>
			<div><div class="send-form-text">Sender fullname</div><div class="send-form">{{ form.sender_fullname }}</div></div>
			<div><div class="send-form-text">Sender phone</div><div class="send-form">{{ form.sender_phone }}</div></div>
			<div><div class="send-form-text">Sender email</div><div class="send-form">{{ form.sender_email }}</div></div>
			<div><div class="send-form-text">Sender adress</div><div class="send-form">{{ form.sender_adress }}</div></div>
			<div><div class="send-form-text">Sender city</div><div class="send-form">{{ form.sender_city }}</div></div>
			<div><div class="send-form-text">Sender post code</div><div class="send-form">{{ form.sender_post_code }}</div></div>
			<div><div class="send-form-text">Recipient fullname</div><div class="send-form">{{ form.recipient_fullname }}</div></div>
			<div><div class="send-form-text">Recipient phone</div><div class="send-form">{{ form.recipient_phone }}</div></div>
			<div><div class="send-form-text">Recipient email</div><div class="send-form">{{ form.recipient_email }}</div></div>
			<div><div class="send-form-text">Recipient adress</div><div class="send-form">{{ form.recipient_adress }}</div></div>
			<div><div class="send-form-text">Recipient city</div><div class="send-form">{{ form.recipient_city }}</div></div>
			<div><div class="send-form-text">Recipient post code</div><div class="send-form">{{ form.recipient_post_code }}</div></div>
			
			<div class="send-form-button-wrapper">
				<button class="submit-button" type="submit" name="send">Send</button>
			</div>
		</form>
	</div>

{% endblock %}