{% extends "../base.html" %}


{% block main %}
    {% if object_list %}
      <div id="map"></div>
      <div class="track-status-wrapper">
        <div class="track-status-container">
          <div class="check-status-box check-status-box-info">your shipping status</div>
          {% for status in object_list %}
            <div class="check-status-box">
              <div class="check-status-date">{{ status.created|date:"h:i d.n.o" }}</div>
              <div class="check-status-info">
                <div class="check-status-name">{{ status.status.name }}</div>
                <div class="check-status-description">{{ status.status.description }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
    {% else %}
        <div>no package!</div>
      </div>
    {% endif %}
{% endblock %}

{% block script %}
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  {% if lat and lon %}
    <script>
      map = new OpenLayers.Map("map");
      map.addLayer(new OpenLayers.Layer.OSM());

      var destination_coordinates = new OpenLayers.LonLat( {{ lat }} ,{{ lon }} )
            .transform(
              new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
              map.getProjectionObject() // to Spherical Mercator Projection
            );


      var markers = new OpenLayers.Layer.Markers( "Markers" );
      map.addLayer(markers);
      
      markers.addMarker(new OpenLayers.Marker(destination_coordinates));

      {% if last_status_lat %}
        var last_status_lat = new OpenLayers.LonLat( {{ last_status_lat }} ,{{ last_status_lon }} )
              .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
              );
              
        markers.addMarker(new OpenLayers.Marker(last_status_lat));
      {% endif %}
      
      var zoom={{ zoom }};
      map.setCenter (destination_coordinates, zoom);
    </script>
  {% endif %}
{% endblock script %}